.line1{


    margin-top:40px; 
    border:1px solid #2E8B57;
    width:870px;

}
.p0{

    font-weight:700;
    color:#2E8B57; 
    text-align: center; 
    position:relative;bottom:10px;
}
h1{
    color:#288d54;
    text-align: center;
    font-family: 'PT Sans', 'sans-serif';
font-size: 40px;
 }
 .line2{

width:60px;

border: 1px solid #54a176; 

 }
 .p1{

    text-align: center;
    word-spacing: 1px;
    color:#2E8B57; 
    font-weight: 500;
    font-size: 15px;
  
 }
 .p3{

    color:#288d54;
   font-size: large;

  
 }
 table{


    width:100%;
    
 }


  th, td {
    border-bottom: 2px solid rgb(83, 78, 78);;
    text-align:center;

    


    }
  
th:first-child{

width:250px;

}
  
    .table-striped2 th{
      color:#288d54;

      border-top:  1px solid rgb(22, 19, 19); 
    }

  
   th{


    color:#288d54;
    
  }
  .monthly-1 th{


    border-bottom: 1px solid white;
    border-top:1px solid rgb(22, 19, 19);
    color:#288d54;
    
  }
 
 

  .row2 th{


    color:#288d54;
    font-weight:auto;
    border-top:1px solid rgb(22, 19, 19);
    padding:8px 0px 5px 0px;;
    width:30px;

  }
  .row3 th{

    color:#288d54;
    font-weight:auto;

    padding:10px 0px 5px 0px;;
  

  ;
    
  }
  .monthly-2 th{
    
    border-bottom:rgb(245, 245, 245);
    color:#288d54;
    border-top:1px solid rgb(22, 19, 19);
    padding:2px 0px 5px 0px;;
  } 
 .row1{
  background-color:#c7d4e4;
  
 }
 .bold{


  font-weight:bold;
 }
 .table-striped2 tr:nth-child(odd) {
   background: #c7d4e4;;
 }
 .table-striped2 > tr:nth-child(odd) table tr:nth-child(even) {
  background: #fff;
}
.table-striped2 > tr:nth-child(even) table tr:nth-child(odd) {
  background: #c7d4e4;
}
 .table-striped2 tr:first-child {
   background: initial;
 }
 .table-striped2 > tr > td:first-child {
   background: #c7d4e4;
 }
 .table-striped2 table tr:last-child td {
  border-bottom: none;
}
 .desc{

  margin-top:10px;
  font-style: italic;
  color:rgb(85, 84, 84);
  font-weight: 200;

 }
 .para{

  color:rgb(85, 84, 84);
  font-weight: 200; 
 }
 #no-border th{

  border-top:white;
 }
 .nowrap {
  white-space: nowrap ;
}