<link rel="preconnect" href="https://fonts.gstatic.com">
<link
  href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Raleway:wght@100;200&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap"
  rel="stylesheet">

<section style="max-width:840px; margin: auto; overflow: hidden;">
  <hr class="line1">
  <h5 class="p0"> Savings rates</h5><br><br>

  <h1>SAVINGS RATES</h1>
  <hr class="line2">
  <h5 class="p1">Current rates for accounts open to new and existing customers</h5>

  <br>

  <p class="p2">Your interest will be paid Gross, this means that we will not deduct tax automatically from your
    interest. Depending on your personal<br>

    circumstances, you may need to pay tax on the interest you earn and it will be your responsibility to pay
    any tax you may owe to<br>
    HM Revenue & Customs (HMRC).
  </p>



  <h5 class="p3">Cash ISA Saver</h5>




  <table class="table-striped2">

    <tr>
      <th valign="bottom">Accounts opened between</th>
      <th valign="bottom">Balance</th>
      <th>Annual –<br>
        Tax Free/AER</th>
      <th valign="bottom">Qualifying Criteria</th>
    </tr>
    <tr *ngFor="let row of tableData.cashISA">
      <td>{{row.time}} </td>
      <td>{{row.balance}}</td>
      <td>{{row.AER}}</td>
      <td>{{row.QualifyingCriteria}}</td>
    </tr>
    
  </table>
  <br>

  <h5 class="p3">Child Saver</h5>

  <table class="table-striped2">

    <tr>
      <th>Accounts opened between</th>
      <th>Balance</th>
      <th>Gross</th>
      <th>AER</th>
    </tr>
    <ng-container *ngFor="let row of tableData.ChildSaver">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td>{{row.data[0].Gross }}</td>
        <td>{{row.data[0].AER}}</td>
       
      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.Gross}}</td>
          <td class="bold">{{row2.AER}}</td>
     
        </tr>
      </ng-container>
    </ng-container>
  </table><br>
  <h5 class="p3">Club Lloyds Monthly Saver</h5>
  <table class="table-striped2">

    <tr>
      <th valign="bottom">Accounts opened between</th>
      <th valign="bottom">Balance</th>
      <th>Annual
        <br>Gross/AER
      </th>
    </tr>
    <tr *ngFor="let club of tableData.ClubLloydsMonthlySaver; let i = index">
      <td>{{club.time}}</td>
      <td>{{club.balance}}</td>
      <td>{{club.AER}}</td>
    </tr>


  </table>
  <br><br>

  <h5 class="p3">Club Lloyds Saver</h5>
  <table class="table-striped2">
    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>
      <th colspan="2">Monthly</th>
    </tr>
    <tr>
      <th valign="bottom">Accounts opened between</th>
      <th valign="bottom">Balance</th>
      <th>Gross/AER</th>
      <th valign="bottom">Gross</th>
      <th valign="bottom">AER</th>
    </tr>
    <ng-container *ngFor="let row of tableData.LloydsSaver">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td>{{row.data[0].AnnualAER}}</td>
        <td>{{row.data[0].Gross }}</td>
        <td>{{row.data[0].AER}}</td>
       
      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AnnualAER}}</td>
          <td class="bold">{{row2.Gross}}</td>
          <td class="bold">{{row2.AER}}</td>
     
        </tr>
      </ng-container>
    </ng-container>
  </table>

  <br>

  <h5 class="p3">Easy Saver</h5>
  <table class="table-striped2">

    <tr class="margin-top">
      <th valign="bottom">Accounts opened between</th>
      <th valign="bottom">Balance</th>
      <th>Annual<br>
        Gross/AER</th>
      <th valign="bottom">Qualifying criteria</th>
    </tr>
    <tr *ngFor="let row of tableData.EasySaver; let i = index">
      <td>{{row.time}}</td>
      <td>{{row.balance}}</td>
      <td>{{row.AER}}</td>
      <td>{{row.QualifyingCriteria}}</td>
    </tr>

  </table><br>


  <h5 class="p3">Fixed Bond – 2 Year</h5>

  <table class="table-striped2">
    <tr class="monthly-2">
      <th></th>
      <th></th>
      <th>Annual</th>
      <th colspan="2">Monthly</th>
      <th></th>

    </tr>
    <tr class="row3 no-border">
      <th width="180px">Accounts opened between</th>
      <th width="190px">Balance</th>
      <th> Gross/AER</th>
      <th width="110px">Gross</th>
      <th width="100px">AER</th>
      <th width="160">Qualifying Criteria</th>


    </tr>


    <ng-container *ngFor="let row of tableData.FixedBondTwoYear">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].AnnualAER}}</td>
        <td class="bold">{{row.data[0].Gross }}</td>
        <td class="bold">{{row.data[0].AER}}</td>
        <td >{{row.data[0].qualifyingcriteria}}</td>
      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AnnualAER}}</td>
          <td class="bold">{{row2.Gross}}</td>
          <td class="bold">{{row2.AER}}</td>
          <td>{{row2.qualifyingcriteria}}</td>
        </tr>
      </ng-container>
    </ng-container>



  </table>

  <br><br>

  <h5 class="p3">Fixed Rate Cash ISA – 2 Year</h5>

  <table class="table-striped2">
    <tr class="monthly-2">
      <th></th>
      <th></th>
      <th>Annual</th>
      <th colspan="2" width="40px">Monthly</th>
      <th></th>

    </tr>
    <tr class="no-border">
      <th width="180px">Accounts opened between</th>
      <th width="160px">Balance</th>
      <th> Gross/AER</th>
      <th width="110px">Gross</th>
      <th width="100px">AER</th>
      <th>Qualifying Criteria</th>

    </tr>
    <ng-container *ngFor="let row of tableData.FixedRateCashISA">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].TaxFreeAER}}</td>
        <td class="bold">{{row.data[0].TaxFree}}</td>
        <td>{{row.data[0].AER}}</td>
        <td class="bold">{{row.data[0].QualifyingCriteria}}</td>
      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.TaxFreeAER}}</td>
          <td class="bold">{{row2.TaxFree}}</td>
          <td class="bold">{{row2.AER}}</td>
          <td>{{row2.QualifyingCriteria}}</td>
        </tr>
      </ng-container>
    </ng-container>
    
  </table>
  <h6 class="desc"> You must have held the qualifying account for at least 7 days. We may remove preferential offers at
    any time. </h6>


  <br>


  <h5 class="p3">Help to Buy: ISA</h5>
  <h6 class="para">The government’s Help to Buy: ISA scheme was available to new savers up to the 30 November 2019. New
    accounts are now only available for transfers in from
    customers with an existing Help to Buy: ISA with another provider and for Lloyds Bank customers whose house purchase
    falls through and ask us to reinstate
    their accounts</h6>

  <table class="table-striped2">

    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>
    </tr>
    <tr>
      <th>Accounts opened between</th>
      <th width="290px">Balance</th>
      <th>Gross/AER</th>



    </tr>
    <ng-container *ngFor="let row of tableData.ISA">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].AER}}</td>

      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0" >
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AER}}</td>

        </tr>
      </ng-container>
    </ng-container>

  </table>


 

  <table  class="table-striped2">


    <h5 class="p3">Junior Cash ISA</h5>
    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>
    </tr>
    <tr>
      <th>Accounts opened between</th>
      <th width="290px">Balance</th>
      <th>Gross/AER</th>



    </tr>
    <ng-container *ngFor="let row of tableData.Junior">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.data[0].heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].AER}}</td>

      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i != 0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AER}}</td>

        </tr>
      </ng-container>
    </ng-container>



  
  </table>


  <br>
  <table class="table-striped2">

    <h5 class="p3 nowrap">Lend a Hand Fixed Savings Account – 3 Year</h5>
    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>
      <th></th>
    </tr>
    <tr>
      <th>Accounts opened between</th>
      <th width="50px">Balance</th>
      <th width="250px">Gross/AER</th>
      <th width="250px">Qualifying Criteria</th>



    </tr>

    <ng-container *ngFor="let row of tableData.Lend">
      <tr>
        <td>{{row.data[0].heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].AER}}</td>
        <td [attr.rowspan]="row.data.length">{{row.qualifyingcriteria}}</td>

      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i!=0">
          <td>{{row2.heading}}</td>
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AER}}</td>


        </tr>
      </ng-container>
    </ng-container>










  </table>



  <br>
  <br>


  <h5 class="p3">Monthly Saver</h5>
  <table class="table-striped2">

    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>

    </tr>
    <tr>
      <th>Accounts opened between</th>
      <th width="290px">Balance</th>
      <th>Gross/AER</th>
    </tr>
    <tr *ngFor="let row of tableData.MonthlySaver">


      <td >{{row.time}}</td>
      <td>{{row.balance}}</td>
      <td class="bold">{{row.AER}}</td>

    </tr>
  </table>
 
<br><br>
  <h5 class="p3">Online Fixed Bond – 2 Year</h5>
  <table class="table-striped2">

    <tr class="monthly-1">
      <th></th>
      <th></th>
      <th>Annual</th>
      <th></th>
    </tr>
    <tr>
      <th>Accounts opened between</th>
      <th width="200px" >Balance</th>
      <th width="200px">Gross/AER</th>
      <th >Qualifying Criteria</th>



    </tr>


    <ng-container *ngFor="let row of tableData.FixedBond">
      <tr>
        <td [attr.rowspan]="row.data.length">{{row.heading}}</td>
        <td>{{row.data[0].balance}}</td>
        <td class="bold">{{row.data[0].AER}}</td>
        <td >{{row.data[0].qualifyingcriteria}}</td>

      </tr>

      <ng-container *ngFor="let row2 of row.data; let i = index">
        <tr *ngIf="i!=0">
          <td>{{row2.balance}}</td>
          <td class="bold">{{row2.AER}}</td>
          <td >{{row2.qualifyingcriteria}}</td>


        </tr>
      </ng-container>
    </ng-container>




  </table>
  <br><br><br><br>


  <p class="bold">AER</p>
  <p>AER stands for Annual Equivalent Rate and illustrates what the interest rate would be if interest was paid and compounded once
    each year.</p>
    <p class="bold">Gross</p>
    <p>Gross rate means we will not automatically deduct tax from the interest we pay on money in your account. It’s your responsibility
      to pay any tax you may owe to HM Revenue & Customs (HMRC).</p>
<p class="bold">Tax Free</p>
<p>Tax Free is the contractual rate of interest payable where interest is exempt from income tax.</p>

<br><br><br><br><br><br><br>

<hr class="line1">
<div class="container">
<div class="row">
<div class="col-sm-4">

 <h5 class="p3">If you’d like this in another format such
  as large print, Braille or audio CD please
  contact us. If you have a hearing or speech
  impairment you can contact us using
  the Relay UK Service (available 24 hours
  a day, 7 days a week) or via Textphone
  on 0345 300 2281 (lines are open
  24 hours a day, seven days a week). In
  either case, calls are serviced by Relay UK.
  SignVideo services are also available if
  you’re Deaf and use British Sign Language:
  lloydsbank.com/accessibility/signvideo</h5>

</div>
<div class="col-sm-6">


 <h6 class="page-end">Eligible deposits with us are protected by the Financial Services Compensation
Scheme (FSCS). We are covered by the Financial Ombudsman Service (FOS).
Rates quoted are subject to change. Rates can change at any time and you should
check the current interest rate before applying for the account.
Calls and online sessions may be monitored and/or recorded for quality evaluation,
training and to ensure compliance with laws and regulations. Not all Telephone
Banking services are available 24 hours a day, 7 days a week. Please speak to an
adviser for more information.
Lloyds Bank plc. Registered Office: 25 Gresham Street, London EC2V 7HN.
Registered in England and Wales no. 2065. Lloyds Bank plc is authorised by the
Prudential Regulation Authority and regulated by the Financial Conduct Authority
and the Prudential Regulation Authority under registration number 119278.
Rates correct as of 8 December 2020.</h6>


</div>




</div>



</div>


</section>